<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>文件管理系统</title>
<link type="text/css" rel="stylesheet"
	href="../views/login_register/css/login.css">
<link type="text/css" rel="stylesheet"
	href="../css/angular-tree/tree-control.css">
<link type="text/css" rel="stylesheet"
	href="../css/angular-tree/tree-control-attribute.css">
<link type="text/css" rel="stylesheet" href="../css/common/common.css">
<link type="text/css" rel="stylesheet"
	href="../css/bootstrap/css/bootstrap.css">
<link type="text/css" rel="stylesheet"
	href="../js/bootstrap-table/bootstrap-table.css">
<script src="../js/require/require.js" data-main="../js/main.js"></script>
<style type="text/css">
</style>
</head>
<body>
	<div ui-view class="container-fluid main_container"></div>
</body>
</html>