<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>场地查询系统</title>
<link type="text/css" rel="stylesheet"
	href="../views/login_register/css/login.css">
<link type="text/css" rel="stylesheet" href="../css/common/area_com.css">
<link type="text/css" rel="stylesheet"
	href="../css/bootstrap/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet"
	href="../css/bootstrap/css/bootstrap-theme.min.css">
<link type="text/css" rel="stylesheet"
	href="../plugin/intro/introjs.css">
<link type="text/css" rel="stylesheet" href="../css/bootstrap/css/bootstrap-responsive.min.css">
<script src="../js/require/require.js" data-main="../js/main.js"></script>
<style type="text/css">
</style>
</head>
<body>
	<div ui-view class="container-fluid main_container"></div>
</body>
</html>