a, body, button, dd, div, dl, dt, h1, h2, h3, h4, h5, h6, input, li, ol,
	p, td, textarea, ul {
	margin: 0;
	padding: 0;
}

body, button, input, select, textarea {
	font: 9pt/1.5 tahoma, arial, Hiragino Sans GB, \5b8b\4f53, sans-serif;
}

button, h1, h2, h3, h4, h5, h6, input, select, textarea {
	font-size: 100%;
}

ol, ul {
	list-style: none;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #043559;
	text-decoration: underline;
}

body {
	background: #fff;
	font-size: 9pt;
	font-family: \\5FAE\8F6F\96C5\9ED1, Tahoma, Geneva, sans-serif;
	min-width: 750pt;
	/* overflow: hidden; */
}

img {
	border: 0;
	vertical-align: top;
}

textarea {
	resize: none;
}

a, button, input, select, textarea {
	outline: 0;
}

a, button {
	cursor: pointer;
}

button {
	border: none;
}

.pagewrap {
	background: url(../images/95.jpg) top center no-repeat;
	overflow: hidden;
}

.main {
	position: relative;
	margin: 0 auto;
	width: 990px;
	height: 900px;
}

.header {
	padding: 13px 0 0;
	height: 67px;
}

.header h1 a {
	display: block;
}

.content {
	overflow: hidden;
}

.content .con_left {
	float: left;
	padding: 75pt 0 0 230px;
	width: 500px;
}

.content .con_left p {
	padding: 0 0 3px;
	width: 10pc;
	color: #040000;
	font-size: 1pc;
	font-family: "微软雅黑";
}

.content .con_left a {
	padding: 0 0 0 2pc;
	color: #2f548e;
	text-decoration: underline;
	font-size: 1pc;
	font-family: "微软雅黑";
}

.content .con_right {
	float: left;
	margin: 65px 0 0;
	width: 28pc;
	height: 398px;
	border: 1px solid #dedede;
	background: #fff;
}

.content .con_right .con_r_top {
	padding: 0 0 0 39px;
	width: 409px;
	height: 110px;
	border-top: 8px solid #2e558e;
}

.content .con_right .con_r_top .left, .content .con_right .con_r_top .right
	{
	float: left;
	/* padding: 35px 0 0; */
	width: 186px;
	height: 35px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	font-family: "微软雅黑";
}

.content .con_right .con_r_top .left {
	border-bottom: 2px solid #dedede;
	color: #999;
}

.content .con_right .con_r_top .right {
	border-bottom: 2px solid #2e558e;
	color: #333;
}

.content .con_right ul .con_r_left .erweima {
	text-align: center;
}

.content .con_right ul .con_r_left p {
	padding: 24px 0 0 135px;
	background: url(../images/icon.jpg) 111px 2pc no-repeat;
	color: #2f548e;
	font-size: 25px;
	font-family: "微软雅黑";
}

.content .con_right ul .con_r_right .user input {
	margin: 0 0 21px -1px;
	padding-left: 7px;
	width: 324px;
	height: 33px;
	border: 1px solid #dedede;
	color: #999;
	font-size: 14px;
	font-family: "微软雅黑";
	line-height: 2pc;
}

.content .con_right ul .con_r_left .user input {
	margin: 0 0 21px -1px;
	padding-left: 7px;
	width: 324px;
	height: 33px;
	border: 1px solid #dedede;
	color: #999;
	font-size: 14px;
	font-family: "微软雅黑";
	line-height: 2pc;
}

.content .con_right ul .con_r_right .user {
	padding: 0 0 0 39px;
}

.content .con_right ul .con_r_left .user {
	padding: 0 0 0 39px;
}

.content .con_right ul .con_r_right .user .user-icon {
	float: left;
	width: 36px;
	height: 35px;
	background: url(../images/user-icon.jpg) left top no-repeat;
}

.content .con_right ul .con_r_left .user .user-icon {
	float: left;
	width: 36px;
	height: 35px;
	background: url(../images/user-icon.jpg) left top no-repeat;
}

.content .con_right ul .con_r_right .user .mima-icon {
	float: left;
	width: 36px;
	height: 35px;
	background: url(../images/mima-icon.jpg) left top no-repeat;
}

.content .con_right ul .con_r_left .user .mima-icon {
	float: left;
	width: 36px;
	height: 35px;
	background: url(../images/mima-icon.jpg) left top no-repeat;
}

.content .con_right ul .con_r_right .user .yzmz-icon {
	float: left;
	width: 36px;
	height: 35px;
	background: url(../images/yzmz-icon.jpg) left top no-repeat;
}

.content .con_right ul .con_r_left .user .yzmz-icon {
	float: left;
	width: 36px;
	height: 35px;
	background: url(../images/yzmz-icon.jpg) left top no-repeat;
}

.content .con_right ul .con_r_right p {
	overflow: hidden;
	padding: 0 39px 37px;
	color: #666;
	font-size: 13px;
	font-family: "微软雅黑";
}

.content .con_right ul .con_r_left p {
	overflow: hidden;
	padding: 0 39px 37px;
	color: #666;
	font-size: 13px;
	font-family: "微软雅黑";
}

.content .con_right ul .con_r_right p .mima {
	float: left;
	padding-left: 5px;
	text-decoration: none;
}

.content .con_right ul .con_r_left p .mima {
	float: left;
	padding-left: 5px;
	text-decoration: none;
}

.content .con_right ul .con_r_right p .zhuce {
	float: right;
	text-decoration: none;
}

.content .con_right ul .con_r_left p .zhuce {
	float: right;
	text-decoration: none;
}

.content .con_right ul .con_r_right button {
	margin: 0 0 0 75pt;
	width: 250px;
	height: 44px;
	background: #2e558e;
	color: #fff;
	font-size: 1pc;
	font-family: "微软雅黑";
}

.content .con_right ul .con_r_left button {
	margin: 0 0 0 75pt;
	width: 250px;
	height: 44px;
	background: #2e558e;
	color: #fff;
	font-size: 1pc;
	font-family: "微软雅黑";
}

.content .con_right ul .con_r_left {
	display: none;
}

.con_right ul .con_r_left .erweima {
	position: relative;
	margin: 0 auto;
	width: 174px;
	height: 11pc;
}

.qrcode {
	position: absolute;
	top: 0;
	left: 0;
	width: 174px;
	height: 11pc;
}

.divimg {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;
	overflow: hidden;
	margin-top: -15px;
	margin-left: -30px;
	padding: 1px;
	width: 60px;
	height: 30px;
	border: 1px solid #eee;
	border-radius: .5rem;
	background: #fff;
	opacity: .9;
	filter: alpha(opacity = 90);
	-moz-opacity: .9;
}

.content .con_right ul .con_r_right .user .yanzheng {
	width: 150px;
	margin: 0 5px 10px 1px;
	padding-left: 5px;
}

.content .con_right ul .con_r_left .user .yanzheng {
	width: 150px;
	margin: 0 5px 10px 1px;
	padding-left: 5px;
}

.content .con_right ul .con_r_right .user .next {
	font-size: 12px;
	width: 40px;
	height: 33px;
	float: right;
	margin-right: 40px;
}

.content .con_right ul .con_r_left .user .next {
	font-size: 12px;
	width: 40px;
	height: 33px;
	float: right;
	margin-right: 40px;
}

.content .con_right .con_r_top {
	*height: 90px;
}

/**个人信息中心展示*/
#person_containner {
	width: 100%;
	height: 100%;
	border: 1px solid #e5e5e5;
	padding: 10px;
}

#personal_information {
	border-bottom: 1px solid #e5e5e5;
}

.personal_info {
	margin-left: 15%;
	display: inline-block;
	margin-top: 2%;
}

.personal_me {
	width: 20%;
	display: inline-block;
	padding-left: 1%;
	margin-top: 2%;
	vertical-align: top;
	word-break: keep-all;
}

.personal_modification {
	padding-left: 68%;
	padding-top: 8%;
	padding-bottom: 2%;
}
/**个人信息修改**/
#personnal_edit_containner {
	border: 1px solid #e5e5e5;
	padding: 10px;
}

#personnal_edit_modify {
	border-bottom: 1px solid #e5e5e5;
}

.personnal_edit_form {
	display: inline-block !important;
	width: 28% !important;
	margin-top: 2%;
}

.personnal_edit_label {
	margin-left: 10%;
	margin-right: 2%;
}

.personnal_edit_button {
	margin-top: 5%;
	position: relative;
	left: 68%;
}
/***修改密码**/
#personnal_containner_pass {
	margin: 1px auto;
	height: 100px;
	background-color: red;
}

.personnal_miodifyPassw {
	width: 32% !important;
	display: unset !important;
	margin-top: 2%;
}

.personnal_miodifyPasswButton {
	margin-top: 4%;
}

#personnal_xx_passd{
	color:red;
}
/***个人注册**/
.regist_need {
	color: red;
}
.regist_xx_font {
	color: rgb(51, 51, 51);
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: rgb(46, 85, 142);
}

.regist_xx_font1 {
	height: 33px;
	line-height: 33px;
	margin-bottom: 20px;
}

.regist_xx_font2 {
	display: inline-block;
	width: 89px;
	height: 33px;
	line-height: 33px;
	float: left;
}

.regist_xx_font3 {
	display: inline-block;
	height: 33px;
	line-height: 33px;
	margin-right: 20px;
	float: right
}

.regist_xx_userName_true {
	border: 1px solid red !important;
}