<div class="pagewrap" ng-init="create()">
	<div class="main">
		<div class="header"></div>
		<div class="content">
			<div class="con_left"></div>
			<div class="con_right">
				<div class="con_r_top">
					<a href="javascript:;" class="right"
						style="color: rgb(51, 51, 51); border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(46, 85, 142);">登陆</a>
				</div>
				<ul>
					<li class="con_r_right" style="display: block;">
						<div class="user">
							<div>
								<span class="user-icon"></span> <input type="text" id="userid"
									name="userid" ng-model="user.loginNo" placeholder="输入账号"
									value="">
							</div>

							<div>
								<span class="mima-icon"></span> <input type="password" id="pwd"
									name="pwd" ng-model="user.loginPwd" placeholder="输入密码" value="">
							</div>
						</div> <br>
						<button id="btn_Login" ng-click="checkLoginUser()">登陆</button>
						<div style="padding-right: 20px; margin-top: 80px;">
							<span style="float: right;">没有账号？<a ui-sref="regist">立即注册</a></span>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>