<form name="user1">
	<div class="pagewrap" ng-init="create()">

		<div class="main">
			<div class="header"></div>
			<div class="content">
				<div class="con_left"></div>
				<div class="con_right">

					<div class="con_r_top">
						<a href="javascript:;" class="regist_xx_font right">注册</a>
					</div>
					<ul>
						<li class="con_r_right" style="display: block;">
							<div class="user">
<!-- 								<div class="regist_xx_font1">
									<div class="regist_xx_font2">
										<span class="regist_xx_font3">用户名<span
											class="regist_need">*</span></span>
									</div>
									<input type="text" name="userName1" ng-model="user.userName"
										placeholder="输入用户名" style="width: 273px"
										" class="regist_xx_userName_{{user1.userName1.$invalid}}"
										required>
								</div> -->
<!-- 
								<div class="regist_xx_font1">
									<div class="regist_xx_font2">
										<span class="regist_xx_font3">登陆账号<span
											class="regist_need">*</span>:
										</span>
									</div>
									<input type="text" id="loginNo" name="loginNo"
										style="width: 273px" ng-model="user.loginNo"
										placeholder="输入登陆账号" name="loginNo"
										class="regist_xx_userName_{{user1.loginNo.$invalid}}" required>
								</div> -->
								<div class="regist_xx_font1">
									<div class="regist_xx_font2">
										<span class="regist_xx_font3">登陆账号<span
											class="regist_need">*</span>:
										</span>
									</div>
									<input type="text" id="no" name="no" placeholder="请输入手机号"
										style="width: 273px" ng-model="no"
										class="regist_xx_userName_{{user1.no.$invalid}}"
										ng-pattern="/^1[\d][0-9]\d{8}$/" required>
								</div>
								<div class="regist_xx_font1">
									<div class="regist_xx_font2">
										<span class="regist_xx_font3">登陆密码<span
											class="regist_need">*</span>:
										</span>
									</div>
									<input type="password" name="pwd"  style="display:none"/>   
									<input type="password" id="pwd" name="pwd"
										style="width: 273px" ng-model="pwd"
										placeholder="输入登陆密码，至少6位"
										class="regist_xx_userName_{{user1.pwd.$invalid}}"
										minlength="6" required>
								</div>
<!-- 

								<div class="regist_xx_font1">
									<div class="regist_xx_font2">
										<span class="regist_xx_font3">职工号:</span>
									</div>
									<input type="text" ng-model="user.employeeNo"
										placeholder="输入职工号" style="width: 273px">
								</div>

								<div class="regist_xx_font1">
									<div class="regist_xx_font2">
										<span class="regist_xx_font3">邮箱<span
											class="regist_need">*</span>:
										</span>
									</div>
									<input type="email" ng-model="user.email" placeholder="输入邮箱"
										style="width: 273px" name="email"
										class="regist_xx_userName_{{user1.email.$invalid||user1.email.$error.email}}"
										required>
								</div>


								<div class="regist_xx_font1">
									<div class="regist_xx_font2">
										<span class="regist_xx_font3">住址:</span>
									</div>
									<input type="text" ng-model="user.address" placeholder="输入住址"
										style="width: 273px">
								</div> -->

								<!-- 							||user.loginNo.$invalid||user.loginPwd.$invalid|| user.tel.$invalid||user.email.$invalid||user.email.$error.email
 -->

							</div> <br>
							<button id="btn_Login" ng-click="regist()"
								ng-disabled="user1.$invalid">注册</button>
						</li>
					</ul>
					<div style="margin-top: 30px;">
						<span
							style="float: right; margin-right: 20px; color: red;     font-size: 14px;"><a
							ui-sref="login">返回</a></span>
					</div>

				</div>
			</div>
		</div>
	</div>
</form>