<form class="form-horizontal" role="form" ng-init="init()" style="border:1px solid #e5e5e5" name="landForm">
	<fieldset style="padding: 25px;">
		<legend style="font-size: 14px;">用地基本信息录入</legend>
		<div class="form-group">
			<label class="col-sm-2 control-label">用地编码</label>
			<div class="col-sm-4">
				<input class="form-control"   type="text" readonly="readonly"
					ng-model="land.code" required/>
			</div>
			<label class="col-sm-2 control-label">用地名称</label>
			<div class="col-sm-4">
				<input class="form-control" type="text" ng-model="land.landName"
					placeholder="请输入用地名称" required/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">用地面积</label>
			<div class="col-sm-4">
				<input class="form-control" type="number" ng-model="land.landAreas"
					placeholder="请输入用地面积"/>
			</div>
			<label class="col-sm-2 control-label">用地状态</label>
			<div class="col-sm-4">
				<select id="disabledSelect" class="form-control" ng-model="land.landState" required>
					<option>启用</option>
					<option>禁用</option>
				</select>
			</div>
		</div>
		<div class="form-group" style="margin-top: 70px;">
			<div class="col-sm-8">
			</div>
			<div class="col-sm-4">
				<button type="button" class="btn btn-info btn-sm" ng-click="saveLand()" ng-disabled="landForm.$invalid">提&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交</button>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<button type="button" class="btn btn-default btn-sm" ng-click="cancel()">取&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;消</button>
			</div>
		</div>
	</fieldset>
</form>
