
<fieldset>
	<table class="table table-bordered">
		<caption>场地状态信息</caption>
		<thead>
			<tr>
				<th></th>
				<th>上午</th>
				<th>下午</th>
				<th>晚上</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>12月1日</td>
				<td>已锁定</td>
				<td>已分配</td>
				<td>已锁定</td>
			</tr>
			<tr>
				<td>12月2日</td>
				<td>已锁定</td>
				<td>已分配</td>
				<td>已锁定</td>
			</tr>
			<tr>
				<td>12月3日</td>
				<td>已锁定</td>
				<td>已分配</td>
				<td>已锁定</td>
			</tr>
		</tbody>
	</table>
</fieldset>