

<fieldset style="border: 1px solid #e5e5e5; padding: 10px;"
	ng-init="init()">
	<form name="pass">
	<div style="border-bottom: 1px solid #e5e5e5;">密码修改</div>
	<div id="personnal_containner_pass ">
		<div class="col-sm-12">
			<label class="col-sm-3"></label><label>旧密码:&nbsp;&nbsp;&nbsp;</label><input
				ng-model="oldPwd" class="form-control personnal_miodifyPassw"
				type="password" palceholder="请输入原密码" minlength="5" required>
		</div>
		<div class="col-sm-12">
			<label class="col-sm-3"></label><label>新密码:&nbsp;&nbsp;&nbsp;</label><input
				ng-model="newPwd" class="form-control personnal_miodifyPassw"
			 name="newPass"	type="password"  minlength="5" required>
			 <span  id="personnal_xx_passd"  ng-show="pass.newPass.$invalid">新密码至少为5位</span>
		</div>
		<div class="col-sm-12 personnal_miodifyPasswButton">
			<div class="col-sm-12 col-md-offset-4">
				<button type="button" class="btn btn-info btn-sm"
					ng-click="changePwd()" ng-disabled="pass.newPass.$invalid">确认修改</button>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<button type="button" class="btn btn-default btn-sm"
					ng-click="toLandStateList()">取&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;消</button>
			</div>
		</div>
	</div>
	</form>
</fieldset>
